*{
    padding: 0;
    margin: 0;
}
:root {
  --bg: #01010f;
  --surface: #25242f00;
  --border: rgb(99, 98, 98);

  --text-primary: #ffffff;
  --text-secondary: rgba(255,255,255,0.55);
  --text-muted: rgba(255,255,255,0.28);
}

body {
  background: var(--bg);
  color: var(--text-primary);
  padding-top: 120px;
}